@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
body{
    font-family: 'Hanna', sans-serif;
    color:#000;
    line-height: 1.5em;
    font-size: 1rem;
}
.header-inner{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
a{
    color:#000;
    text-decoration: none;
}
.site-header{
    padding:30px;
    border-bottom:solid 1px #ccc;
}
.logo,
.language-select{
    width:80px;
    display:block;
}   

.language-select{
    text-align:right;
    font-size: 1.2rem;
}
.menu{
    list-style: none;
    display:flex;
    margin:0;
    padding-left: 0;;
}
.menu-item{
    margin-left: 15px;
    margin-right: 15px;
    text-transform: lowercase;
}
.hero{
    padding-top: 160px;
    padding-bottom: 220px;
    padding-left: 30px;
    padding-right: 30px
}
.hero-text{
    font-size:180px;
    line-height: 1;
    color:#ff0066 ;
    text-align:center;
}
.site-name{
    color:#000;
}
.container{
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
}
.hero{
    background: url(../assets//intro-bg.svg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-description{
    margin:0;
    left:0;
    width: 100%;
    bottom:0;
    position:relative;
    text-align: center;
}

.magenta{
    color:#ff0066;
}
.intro-bg{
    background-image: url(../assets/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 310px;
    padding-bottom: 250px;
}
.inner-intro-bg{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0,0.20);
}
.intro-title{
    font-size:20px;
    border-bottom: 3px solid #fff;
    padding-bottom: 1px;
    display:inline-block;
    margin: 0 0  48px 0;
}
.intro-description{
    font-size: 50px;
    margin: 0;
    line-height:1.1;
}
.yellow{
    color:#f8E71C;
}
.entry-header{
    padding: 20px;
    background-color:#ff0066;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}
.entry-title,
.entry-price{
    font-size: 16px;
    color: #fff;
}

.wp-post-image{
    max-width:100%;
    width:auto !important;
    height:auto !important;
    display:block;
}
.post-thumbnail{
    display:block;
    pointer-events:none;
}

/* 1200px wide grid 
2x3grid
20px space horizon
50px space vertically*/
.food-title{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-transform: lowercase;
    margin-bottom:50px;
}
.food-grid{
    display:grid;
    grid-template-columns:
}